<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicTacToe"
        tools:targetApi="31">
        <activity
            android:name=".draw"
            android:exported="false" />
        <activity
            android:name=".game3"
            android:exported="false" />
        <activity
            android:name=".winner4"
            android:exported="false" />
        <activity
            android:name=".winner3"
            android:exported="false" />
        <activity
            android:name=".winner2"
            android:exported="false" />
        <activity
            android:name=".Game2"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".Game"
            android:exported="false" />
        <activity
            android:name=".Comp3"
            android:exported="false" />
        <activity
            android:name=".Friend2"
            android:exported="false" />
        <activity
            android:name=".Friend1"
            android:exported="false" />
        <activity
            android:name=".Comp2"
            android:exported="false" />
        <activity
            android:name=".Comp1"
            android:exported="false" />
        <activity
            android:name=".winner"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>